.homeSearch{
display: flex;
padding: 2vw;
flex-direction: column;
z-index: 20;
//  position: absolute;
//  bottom: 18%;
 width: 100%;
align-items: center;
}

 img.resultPic { 

    // top: 23%;
    // left: 10%;
    // right: 10%;
    width: auto;
    max-width: 100vw;
  height: 60vh;
    position: absolute;
    object-fit: cover;
    border-radius: 1em;
   margin-top: 35vh;
  }

  input.homeInput, .homeSubmit
  {
   margin: 1.5%;
  }


  input.homeInput
  {
  //  padding: 2%;
  // width: 60%;
  // border-radius: 1em;
  //   height: 6vh;
  //   font-size: 2vh;

        /* padding: 2%; */
    width: auto;
    border-radius: 1em;
    height: 5vh;
    font-size: 2vh;
    text-align: center;
    position: absolute;
    bottom: 12vh;
}
  

   input.homeSubmit
  {
   padding: 1%;
  width: 20%;
  border-radius: 1em;
  font-size: 2vh;
     position: absolute;
    bottom: 5vh;
  }

  .homeSearch input::placeholder{
        text-align: center;
  }

  div.homeCart{
    display: flex;
    padding: 2vw;
    flex-direction: column;
    z-index: 20;
    // position: absolute;
    // bottom: 7%;
    width: 100%;
    align-items: center;
    margin-top: 50vh;
  }

  .homeCartbuttonC
  {
    display: flex;
    justify-content: center;
    align-items: center;
    // width: 32%;

    position: absolute;
    top: 34%;
    border-color: blue;
    border-width: 1rem;
  }

  .homeCartbutton p
  {
    padding-left: 5%;
    padding-right: 1%;
   margin-right: 6%;
    font-size: 2.3vh;
  }

 .homeCartbutton select
  {
  margin-right: 6%;
    font-size: 2.3vh;
  }

   div.galleryInvite{
    display: flex;
    padding: 2vw;
    flex-direction: column;
    z-index: 20;
    // position: absolute;
    top: 10%;
    width: 100%;
    align-items: center;
    margin-top: -18;
  }

   .galleryInvite button, .galleryInvite p
   {
       padding: 1%;
   }

   .galleryInvite button
   {
        border-radius: 0.5em;font-size: 2vh;
   }

   .galleryInvite p
   {
      font-size: 4vh;
   }

   .siteName
   {
    display: flex;
    padding: 2vw;
    flex-direction: column;
    z-index: 20;
    // position: absolute;
    // top: 20%;
    position: absolute;
    top: 30vh;
    width: 100%;
    font-size: 7.5vh;
    // margin-top: 17vh;
    text-align: center;
    align-items: center;
   }

   .linkAndOr{
    display: flex;
    padding: 2vw;
    flex-direction: column;
    z-index: 20;
    // position: absolute;
    // bottom: 30%;
       position: absolute;
    bottom: 17vh;
    font-size: 3.2vh;
    width: 100%;
    text-align: center;
    align-items: center;   
   }

  //  .galleryLink p {
  //      font-size: 1.2em;
  //      padding: 3%;
  //      border-radius: 1em;
  //  }

    .galleryLink {
       border-radius: 1em;
       height: 7vh;
    width: auto;
    font-size: 2vh;
    padding-right: 1rem;
    padding-left: 1rem;
   }

   .OR{
       font-size: 0.6em;
       padding: 1%;
   }