@media(min-width: 651px){
#thumbsB
{
position: relative;
z-index: 11;
// overflow: visible;
width: 50%;
margin-top: 5vh;
    margin-bottom: -15vh;
     
}

.thumbsB
{
 opacity: 1;
}

.thumbsB .swiper-slide.swiper-slide-active 
{
   opacity: 1;
}


#mainB
{
position: absolute;
z-index: -1;
top: 25%;
}


.swiper-slide .hope2B { 
    // transform: translateY(-200%);
   
    width: 60%;
    height: 20vh;
    z-Index: 19;
    overflow:scroll;
    color: aliceblue;
    z-index: 90;
    margin: 5%;
    border-radius: 1em;
  position: absolute;
  bottom: 10%;

      padding: 2%;
    // position: relative;
    display: block;
    margin: auto;  
    text-align: center;
    background-color: rgba(0, 0, 0, 0.534);
  }

  div.hope2B .homeCartbuttonB{
    // transform: translateX(50%);
    width: 50%;
    height: 5.5vh;
    padding-top: 3%;
    padding-bottom: 3%;
   
    border-radius: 0.8em;
  }

  div.hope2B div{
      display: flex;
    flex-direction: column;
    justify-content: center;
  }

  div.hope2B .homeCartbuttonB select{
    padding: 3%;
  margin: 5%;
  border-radius: 0.3em;
  }

  

  /* div.swiper-button-next { 
    color: red;
    position: absolute;
    top: 50%;
    right: auto;
   } */

   
  
  /* .swiper-slide img {
    display: block;
    width: 100%;
    height: 100vh;
  } */

  .swiper-slide img.hopeB { 
    display: block;
    width: 100%;
    height: 60vh;
    object-fit: cover;
    /* z-Index: 2; */
    // position: absolute;
    border-radius: 1em;
  }

   .swiper-slide.swiper-slide-active img.hopeB{
        width: 115%;
    height: 73vh;
   }

  .swiper
  {
    display: block;
    width: 100%;
    // height: 90vh;
        // margin-top: -25vh;
    // z-Index: -10; 
    position: absolute;
   /* transform: translateY(60%); */
   /* display: inline; */
  }

  .swiper-wrapper{
    /* padding-inline-start: 0; */
    list-style: none;
    /* width: 100%; */
    /* left: 30%; */}


 .swiper-slide{
     
   opacity: 0.5;

  }
   .swiper-slide.swiper-slide-active{
      opacity: 1;
      width: 100vw;
      display: flex;
      justify-content: center;
  }
    

    div.swiper-button-next::after, div.swiper-button-prev::after  
    {
    font-weight:900;
    -webkit-text-stroke-width: 0.1em;
    // margin-top: 90vh;

        position: absolute;
    top: 90vh;
    // width: 100%;
    /* bottom: 20vh; */
    font-size: 10vh;

    }
    div.swiper-button-next, div.swiper-button-prev 
    {
    position: absolute;
    top: -10%;
   }
  
  
  div.swiper-pagination {
    
   transform: translateY(-575%);
}

}